.lay-main {
	min-height: 768px;
	position: relative;
	background-color: #2b152a;
	width: auto;
	margin-left: 300px;
	float: none;
}

.lay-left {
	background-color: #FFFFFF;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	padding: 0;
	z-index: 1;
	width: 300px;
}

.com-title {
	color: #F10937;
}

.com-num-box {
	color: #FFFFFF;
	background-color: #F10937;
}

.com-num-row {
	margin-top: 20px;
	margin-bottom: 20px;
}